<a href="https://colab.research.google.com/github/ASHISHVERMA114142/ML_Projects/blob/main/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

In [ ]:

data = pd.read_csv('AirfoilSelfNoise.csv')
data

         f  alpha       c  U_infinity     delta     SSPL
0      800    0.0  0.3048        71.3  0.002663  126.201
1     1000    0.0  0.3048        71.3  0.002663  125.201
2     1250    0.0  0.3048        71.3  0.002663  125.951
3     1600    0.0  0.3048        71.3  0.002663  127.591
4     2000    0.0  0.3048        71.3  0.002663  127.461
...    ...    ...     ...         ...       ...      ...
1498  2500   15.6  0.1016        39.6  0.052849  110.264
1499  3150   15.6  0.1016        39.6  0.052849  109.254
1500  4000   15.6  0.1016        39.6  0.052849  106.604
1501  5000   15.6  0.1016        39.6  0.052849  106.224
1502  6300   15.6  0.1016        39.6  0.052849  104.204

[1503 rows x 6 columns]

In [ ]:
data = data.rename(columns={"f": 'Frequency',"alpha":'Angle of attack',"c":'Chord length',"U_infinity":'Free-stream velocity',"delta":"Section side displacement thickness","SSPL":"Scaled Sound Pressure Level"})
data.head()

   Frequency  ...  Scaled Sound Pressure Level
0        800  ...                      126.201
1       1000  ...                      125.201
2       1250  ...                      125.951
3       1600  ...                      127.591
4       2000  ...                      127.461

[5 rows x 6 columns]

In [ ]:
# here 30 rows and 2 cols are there in the data set...
data.info()
data.shape
#here our data set does not contain any null values...
#all col has numerical values so no need to convert it....

In [ ]:
# val=data.iloc[:,2].values
# # plt.boxplot(val,orient="h")
# # plt.show()
# ax = sns.boxplot(data=val,width = 1.0)
sns.pairplot(data = data,size=10)

In [ ]:
data.describe()
#describe() function describes about data set...

          Frequency  ...  Scaled Sound Pressure Level
count   1503.000000  ...                  1503.000000
mean    2886.380572  ...                   124.835943
std     3152.573137  ...                     6.898657
min      200.000000  ...                   103.380000
25%      800.000000  ...                   120.191000
50%     1600.000000  ...                   125.721000
75%     4000.000000  ...                   129.995500
max    20000.000000  ...                   140.987000

[8 rows x 6 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(data)
scaled_features = scaler.transform(data)
data= pd.DataFrame(scaled_features,columns=data.columns)
data.head()

   Frequency  ...  Scaled Sound Pressure Level
0  -0.662023  ...                     0.197939
1  -0.598561  ...                     0.052935
2  -0.519235  ...                     0.161688
3  -0.408177  ...                     0.399494
4  -0.281255  ...                     0.380644

[5 rows x 6 columns]

In [ ]:
# data= pd.DataFrame(scaled_features,columns=data.columns)
# data

In [ ]:
# sns.pairplot(y_vars = 'Salary', x_vars = 'YearsExperience' ,data = data,size=10)

In [ ]:
corr = data.corr(method='spearman')
plt.figure(figsize=(4,4))
plt.title("corelation between different qualities....\n")
sns.heatmap(corr, annot=True)
plt.show()

In [ ]:
X = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [ ]:
X_train,X_test,y_train, y_test = train_test_split(X,y, train_size = 0.7, test_size = 0.3, random_state = 100)
# X_test,X_validation,y_test, y_validation = train_test_split(X_test,y_test, train_size = 0.5, test_size = 0.5, random_state = 100)

In [ ]:
print(X_train.shape)
# print(X_test)
print(X_test.shape)
# X_validation.shape

(1052, 5)
(451, 5)

In [ ]:
done = LinearRegression()
done.fit(X, y)

LinearRegression()

In [ ]:
y_pred = done.predict(X_test)
# salarys predicted value....
# print(y_pred)
# sum=0;
# for x in y_pred:
#   sum=sum+x;
# print("mean salary = ",sum/4)

In [ ]:
# plt.scatter(X_train, y_train, color='red')
# plt.plot(X_train, done.predict(X_train), color='black')
# plt.title('Experience Vs Salary (Training Set)', size=22)
# plt.xlabel('Years of Experience', size=15)
# plt.ylabel('Salary', size=15)
# plt.show()

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error
#Calculating mean square error
mean = mean_squared_error(y_test, y_pred)
print('Mean Squared Error = ', mean)

Mean Squared Error =  0.5000221062813108

In [ ]:
# mean square root error...
RMSE = np.sqrt(mean_squared_error(y_test,y_pred))
RMSE

0.7071224125151959

In [ ]:
r2_score(y_test,y_pred)

0.5246982388539135

**Linear regression with multiple independent variable **

In [ ]:
from numpy import genfromtxt
data=genfromtxt("AirfoilSelfNoise.csv",delimiter=",")
data=np.array(data)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(data)
scaled_features = scaler.transform(data)

X=data[1:,0:5]
# scaler.fit(X)
# scaled_features = scaler.transform(X)
# X= pd.DataFrame(scaled_features)
y=data[1:,5]
# scaler.fit(y)
# scaled_features = scaler.transform(y)
# y= pd.DataFrame(scaled_features)
# y=y[:,4]
print(X)
print(y)

In [ ]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
v = data;
v_scaled = min_max_scaler.fit_transform(v)
foo = v_scaled
X=foo[1:,0:5]
y=foo[1:,5]

print(X)
print(y)

In [ ]:
X_train,X_test,y_train, y_test = train_test_split(X,y, train_size = 0.7, test_size = 0.3, random_state = 10)
print(X_test)

(451, 5)

In [ ]:
# def Linear_regression_modle(X,y,learning_rate,epoach):
#     samples=X.shape[0];
#     ones=np.ones((samples,1))
#     X=np.concatenate((ones,X),axis=1)
#     n=X.shape[1];  # n is the number of feature or number of independent variable in our model...
#     Theta=np.ones(n)   # thetas will be constant values in our linear equation 
#     hypo=np.dot(X,Theta)
#     samples=X.shape[0];
    
#     Cost=np.ones(epoach) # cost function corresponding to each iteration  
#     Min_cost=0;         # this will keep min cost 
#     final_theta=np.ones(n); # final theta values with respect to minimum cost 
#     for i in range (0,epoach): # this is the number of interation to minimize our cost function 
#         Theta[0]=Theta[0]- (learning_rate/samples)*sum(hypo-y);  
#         for j in range(1,n): # in this loop we will calculate our new Theta values 
#            Z=X[:,j]
#            s=0
#            for k in range(0,samples):
#              s=s+(hypo-y[k])*Z[k]
#           #  Theta[j]=Theta[j]- (learning_rate/samples)*sum((hypo-y))*X[:,j]
#            Theta[j]=Theta[j]- (learning_rate*s)*samples;
#         hypo=np.dot(X,Theta);  # recalculation our hypothesis with new Theta values
    
#         Cost[i]=1/(2*(samples-1))*sum(np.square(hypo-y));
#         if i==0 or Cost[i]<Min_cost:
#            Min_cost=Cost[i];
#            final_theta=Theta;
    
#     return Cost,Theta,final_theta,Min_cost

In [ ]:
def Linear_regression_modle(X,y,learning_rate,epoach):
    samples=X.shape[0];
    ones=np.ones((samples,1))
    X=np.concatenate((ones,X),axis=1)
    n=X.shape[1];  # n is the number of feature or number of independent variable in our model...
    Theta=np.ones(n)   # thetas will be constant values in our linear equation 
    hypo=np.dot(X,Theta)
    samples=X.shape[0];
  
    Cost=np.ones(epoach) # cost function corresponding to each iteration  
    Min_cost=0;         # this will keep min cost 
    final_theta=np.ones(n); # final theta values with respect to minimum cost 
    for i in range (0,epoach): # this is the number of interation to minimize our cost function 
        Theta[0]=Theta[0]- (learning_rate/samples)*np.sum(hypo-y);  
        for j in range(1,n): # in this loop we will calculate our new Theta values
          #  val=np.array(X[:,j]) 
          #  Theta[j]=Theta[j]- (learning_rate/samples)*np.sum((hypo-y)*val)
          Theta[j]=Theta[j]-(learning_rate/samples)*np.dot(X[:,j],hypo-y)
        hypo=np.dot(X,Theta);  # recalculation our hypothesis with new Theta values
    
        Cost[i]=1/(2*(samples-1))*np.sum(np.square(hypo-y));
        if i==0 or Cost[i]<Min_cost:
           Min_cost=Cost[i];
           final_theta=Theta;
    
    return Cost,Theta,final_theta,Min_cost

In [ ]:
Cost,Theta,final_theata,Min_cost=Linear_regression_modle(X_train,y_train,0.001,6000)
print(Min_cost)
print(final_theata)

In [ ]:
plt.plot(Cost)
plt.xlabel("Number of iteration")
plt.ylabel("cost")
plt.show()

In [ ]:
print(Theta[:])
print(Cost[-1])

[-0.01802482  0.71726163  0.40706797  0.3787638   0.18982458  0.46223974]
0.06486732617050993

In [ ]:
done.fit(X, y)
print(done.intercept_)
print(done.coef_)

0.8348775940861866
[-0.67507913 -0.24906108 -0.26514286  0.10514586 -0.22721818]

Now try to predict our model

In [ ]:
print(X_test.shape)
final_theata.shape
y_test.shape

(1503, 6)

(451,)

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error
#Calculating mean square error
ones=np.ones((X_test.shape[0],1))
X_test=np.concatenate((ones,X_test),axis=1)
y_pred=np.dot(X_test,final_theata)
mean = mean_squared_error(y_test, y_pred)
print('Mean Squared Error = ', mean)

Mean Squared Error =  0.10733418247287727

In [ ]:
RMSE = np.sqrt(mean_squared_error(y,y_pred))
RMSE

0.35060904703490975