<a href="https://colab.research.google.com/github/ASHISHVERMA114142/ML_Projects/blob/main/LogisticReggression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import all the required packages
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns

##load our data set from computer 
import io
from google.colab import files
uploaded = files.upload()

Saving dermatology.csv to dermatology (2).csv

In [ ]:
dataframe = pd.read_csv(io.BytesIO(uploaded['dermatology.csv']))
dataframe.head(20)

    erythema  scaling  definite_borders  ...  band-like_infiltrate   age  class
0          2        2                 0  ...                     0  55.0      2
1          3        3                 3  ...                     0   8.0      1
2          2        1                 2  ...                     3  26.0      3
3          2        2                 2  ...                     0  40.0      1
4          2        3                 2  ...                     3  45.0      3
5          2        3                 2  ...                     0  41.0      2
6          2        1                 0  ...                     0  18.0      5
7          2        2                 3  ...                     3  57.0      3
8          2        2                 1  ...                     0  22.0      4
9          2        2                 1  ...                     0  30.0      4
10         3        3                 2  ...                     0  20.0      1
11         2        2                 0  ...                     0  21.0      2
12         3        3                 1  ...                     0  22.0      2
13         2        3                 3  ...                     0  10.0      1
14         2        2                 3  ...                     3  65.0      3
15         1        1                 0  ...                     0  40.0      4
16         2        2                 1  ...                     0  30.0      2
17         3        3                 3  ...                     0  38.0      1
18         2        1                 3  ...                     3  23.0      3
19         1        1                 0  ...                     0  17.0      5

[20 rows x 35 columns]

In [ ]:
dataframe.shape

(366, 35)

In [ ]:
dataframe.isnull().sum()#in our data set we have any missing values so we have to replace missing values with mode age

erythema                                    0
scaling                                     0
definite_borders                            0
itching                                     0
koebner_phenomenon                          0
polygonal_papules                           0
follicular_papules                          0
oral_mucosal_involvement                    0
knee_and_elbow_involvement                  0
scalp_involvement                           0
family_history                              0
melanin_incontinence                        0
eosinophils_in_the_infiltrate               0
pnl_infiltrate                              0
fibrosis_of_the_papillary_dermis            0
exocytosis                                  0
acanthosis                                  0
hyperkeratosis                              0
parakeratosis                               0
clubbing_of_the_rete_ridges                 0
elongation_of_the_rete_ridges               0
thinning_of_the_suprapapillary_epidermis    0
spongiform_pustule                          0
munro_microabcess                           0
focal_hypergranulosis                       0
disappearance_of_the_granular_layer         0
vacuolisation_and_damage_of_basal_layer     0
spongiosis                                  0
saw-tooth_appearance_of_retes               0
follicular_horn_plug                        0
perifollicular_parakeratosis                0
inflammatory_monoluclear_inflitrate         0
band-like_infiltrate                        0
age                                         8
class                                       0
dtype: int64

In [ ]:
df=dataframe['age'].fillna(dataframe['age'].mode()[0])
dataframe['age']=df
dataframe.isnull().sum()

NameError: ignored

In [ ]:
Normalised_Data=dataframe.iloc[:,:-1]
Normalised_Data=Normalised_Data.apply(lambda x: (x-x.min(axis=0))/(x.max(axis=0)-x.min(axis=0)))
dataframe.iloc[:,:-1]=Normalised_Data
dataframe.head()

   erythema   scaling  definite_borders  ...  band-like_infiltrate       age  class
0  0.666667  0.666667          0.000000  ...                   0.0  0.733333      2
1  1.000000  1.000000          1.000000  ...                   0.0  0.106667      1
2  0.666667  0.333333          0.666667  ...                   1.0  0.346667      3
3  0.666667  0.666667          0.666667  ...                   0.0  0.533333      1
4  0.666667  1.000000          0.666667  ...                   1.0  0.600000      3
5  0.666667  1.000000          0.666667  ...                   0.0  0.546667      2
6  0.666667  0.333333          0.000000  ...                   0.0  0.240000      5
7  0.666667  0.666667          1.000000  ...                   1.0  0.760000      3
8  0.666667  0.666667          0.333333  ...                   0.0  0.293333      4
9  0.666667  0.666667          0.333333  ...                   0.0  0.400000      4

[10 rows x 35 columns]

In [ ]:
D0 = dataframe.copy();D1 = dataframe.copy();D2 = dataframe.copy();D3 = dataframe.copy();D4 = dataframe.copy();D5 = dataframe.copy();
datasets = [D0,D1,D2,D3,D4,D5]

In [ ]:
#this cell creates individual binary datasets
label = 'class'
for i in range(6):
  for j in range(366):
    if datasets[i].at[j,label] == i+1:
      datasets[i].at[j,label] = 1
    else:
      datasets[i].at[j,label] = 0

In [ ]:
D0.head()

   erythema   scaling  definite_borders  ...  band-like_infiltrate       age  class
0  0.666667  0.666667          0.000000  ...                   0.0  0.733333      0
1  1.000000  1.000000          1.000000  ...                   0.0  0.106667      1
2  0.666667  0.333333          0.666667  ...                   1.0  0.346667      0
3  0.666667  0.666667          0.666667  ...                   0.0  0.533333      1
4  0.666667  1.000000          0.666667  ...                   1.0  0.600000      0

[5 rows x 35 columns]

In [ ]:
#TrainTest_datadict['key'][0] ==> X && TrainTest_datadict['key'][1] ==> y
TrainTest_datadict = {}  
for i in range(6):
  X = datasets[i].iloc[:,:-1]
  print(X.shape)
  X = X.T
  y = datasets[i].iloc[:,-1]
  print(y.shape)
  y = np.array([y])
  TrainTest_datadict['D'+str(i)] = [X,y]

(366, 34)
(366,)
(366, 34)
(366,)
(366, 34)
(366,)
(366, 34)
(366,)
(366, 34)
(366,)
(366, 34)
(366,)

In [ ]:
itterations = 10000000   #random big value 
alpha = 0.160 
m = 366
cost_values = []
trained_parameters = []
for trainsets in range(6):
  X = TrainTest_datadict['D'+str(trainsets)][0] 
  y = TrainTest_datadict['D'+str(trainsets)][1]
  weights = np.random.randn(1,34)
  bias = 0 
  costfunc_values = []
  k = 0
  print('Training for dataset '+str(trainsets))
  for i in range(1,itterations+1):
    #logistic function
    z = np.dot(weights,X) + bias 
    hypothesis = 1/(1 + np.exp(-z)) 

    #cost function
    j = 1/m*(-1*(np.sum(y*np.log(hypothesis) + (1-y)*np.log(1-hypothesis))))
    costfunc_values.append(j)
    k+=1

    #gradient decent
    dw =  1/m * np.dot(hypothesis-y,X.T)
    db =  1/m * np.sum(hypothesis-y)
    weights = weights - alpha*dw
    bias = bias - alpha*db

    #stop training
    if i%2000 == 0:
      print('running @ ',j)
    if i%2 == 0:
      if abs(j-costfunc_values[-2])<0.000001:
        if abs(j-costfunc_values[-3])<0.000001:
          break 
  cost_values.append(costfunc_values)  
  trained_parameters.append([weights,bias])      
  print('itteration number:',k)

Training for dataset 0
running @  0.015486415055343162
running @  0.008764891321006711
running @  0.006294475325915592
running @  0.004976367747482511
itteration number: 8080
Training for dataset 1
running @  0.08055297647244629
running @  0.06118751668543171
running @  0.0527940177240979
running @  0.047723763950461864
running @  0.04417102886066315
running @  0.041462263593891484
running @  0.03928214823194404
running @  0.037460997990428097
running @  0.03589829538101232
running @  0.034530111422338784
running @  0.033313490338286664
running @  0.03221827751114999
itteration number: 24894
Training for dataset 2
running @  0.006136740027122761
running @  0.0033128807843097697
itteration number: 4932
Training for dataset 3
running @  0.07235378375622468
running @  0.054627546962772534
running @  0.04694395516673005
running @  0.042248003591796944
running @  0.03891223567662402
running @  0.03634317994808221
running @  0.034264808239791875
running @  0.03252753431956759
running @  0.03104132919157381
running @  0.029747704989339773
running @  0.02860640154579809
itteration number: 23314
Training for dataset 4
running @  0.019869588688723724
running @  0.011235195258501815
running @  0.008056231381045803
running @  0.006352823182077318
itteration number: 9320
Training for dataset 5
running @  0.011045861102115383
running @  0.005917194440961175
running @  0.004140811399429885
itteration number: 6642

In [ ]:
totalpred=0
for datasetnum in range(6):
  X = TrainTest_datadict['D'+str(datasetnum)][0]
  y = TrainTest_datadict['D'+str(datasetnum)][1]
  weights = trained_parameters[datasetnum][0]
  bias = trained_parameters[datasetnum][1]
  correct_predictions = 0 
  for i in range(366):
    z = np.dot(weights,X.T.iloc[i,:])+bias
    hypothesis = 1/(1 + np.exp(-z))
    if np.logical_and(hypothesis >= 0.5,y.T[i,0] == 1):
        correct_predictions+=1
    if np.logical_and(hypothesis < 0.5,y.T[i,0] == 0):
        correct_predictions+=1    
  #print(correct_predictions)  
  totalpred+=correct_predictions   
  print(totalpred) 
  acc = (correct_predictions/366)*100
  print('accuracy for dataset '+str(datasetnum)," = ",acc)

366
accuracy for dataset 0  =  100.0
728
accuracy for dataset 1  =  98.90710382513662
1094
accuracy for dataset 2  =  100.0
1457
accuracy for dataset 3  =  99.18032786885246
1823
accuracy for dataset 4  =  100.0
2189
accuracy for dataset 5  =  100.0

In [ ]:
(totalpred/(366*6))*100

99.68123861566485